@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset common elements to provide a consistent baseline */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%; // Sets a base font size of 16px
  line-height: 1.5; // Improves readability
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #131517;
  color: white;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; // Makes media responsive by default
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit; // Ensures form elements inherit font styles
}

button {
  cursor: pointer; // Makes buttons show pointer cursor
  background: none; // Removes default button styles
  border: none;
}

a {
  text-decoration: none; // Removes default underline from links
  color: inherit; // Links inherit text color
}

ul[role='list'],
ol[role='list'] {
  list-style: none; // Removes default list styles
}

table {
  border-collapse: collapse; // Ensures consistent table borders
  width: 100%;
}

blockquote,
q {
  quotes: none; // Removes default quotes from blockquotes
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: ''; // Prevents content from showing default quotes
}

#root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
  height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
