.clickMsg {
  font-size: 32px;
  width: 32px;
  height: 32px;
  animation: msgFading 2s linear;
  z-index: 99;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
}
@keyframes msgFading {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-400px);
  }
}
